.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px;
}

.input {
  width: 500px;
  height: 45px;
  border-radius: 8px;
  border: 3px solid var(--color-7);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  text-align: center;
  font-size: 1.3rem;
}

.buttonSearch {
  width: 130px;
  height: 45px;
  border-radius: 8px;
  border: 3px solid var(--shadow);
  background-color: var(--color-3);
  color: white;
  font-size: 1.3rem;
  font-family: 'Playpen Sans';
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonSearch:hover {
  background-color: var(--color-6);
  transition: 0.7s;
}

.shoppingCart {
  width: 75px;
  height: 75px;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; 
}

.shoppingCart:hover {
  transform: scale(1.2);
  transition: transform 0.7s;
}

.containerProducts {
  margin: 20px auto;
  max-width: 500px;
  max-height: 500px;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 400px;
  border-radius: 20px;
  border: 3px solid var(--color-7);
  margin: 10px;
  background-color: var(--white);
}

.description,
.price {
  font-family: 'Playpen Sans';
  font-size: 1.15rem;
  font-weight: bold;
  margin: 10px;
}

.image {
  width: 150px;
  height: 150px;
  margin: 10px;
}

.btnCard {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  color: var(--white);
}

.btn {
  width: 85px;
  height: 60px;
  border-radius: 10px;
  background-color: var(--color-3);
  border: 3px solid var(--shadow);
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.btn:hover {
  background-color: var(--color-6);
  transition: 0.5s;
}

.icon:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.price:hover {
  transform: scale(1.2);
  transition: transform 0.8s;
}
