:root {
  --white: #fff;

  --color-1: #b3ada6b1;
  --color-2: #a28379;
  --color-3: #716451;
  --color-4: #5d4027;
  --color-5: #282317;
  --color-6: #ff3847;
  --color-7: #32c0c1;

  --shadow: #00000021;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  height: 100vh;
  background-image: url('../public/background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
