:root {
  --white: #fff;

  --background: rgba(48, 48, 48, 0.63);

  --color-1: #2f8c63;
  --color-2: #e4c0a7;
  --color-3: #1f2320;
  --color-4: #985a4c;
  --color-5: #d33432;

  --soft-green:rgb(113, 255, 186)3;
  --dark-red: #7c0000;

  --blue-300: #075bbb;
  --blue-500: #094493;

  --shadow: #0000001a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

body {
  background-image: url('/public/background.png');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
